
.navbar {
    /* background-color:darkblue; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    background-color: rgb(231, 230, 230);
    padding-top: 10px;
    position: relative;
    display: flex;
    justify-content: end;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    width: auto;
}

/*Center Nav bar*/
.container {
    display: flex;
    justify-content: center;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 20px;
    position: relative;
}

.studNav {
    text-decoration: none;
    color: #0D1282;
    font-weight: 600;
    transition: color 0.3s;
    margin: 0 10px;
    /* &:hover::after {
        background-color: lightgray;
        color: black;
        padding: 28px 3px ;
        border-radius: .30rem;
        border-bottom: 3px solid #0D1282;
    } */
}
.studNav::after {
    display: block;
    content: '';
    border-bottom: solid 5px #0D1282;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    margin-top: 3px;
  }
  .studNav:hover::after {
    transform: scaleX(1);
  }
/* Addbottom border animation on hover */
/* .nav-item::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007BFF;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s;
}

 .nav-item:hover::after {
    transform: scaleX(1);
} */

/* .nav-item:last-child .nav-link {
    color: #FF0000;
}
.nav-item:last-child .nav-link:hover {
    color: #FF5555;
} */ 

.BVCheaderlogo{
    width: 200px;
    height: 50px;
    margin-right: 525px;
}
