* {
  margin: 0;
}

.Login {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0 100%), url(./BVC.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Login form {
  width: 300px;
  margin: 0 auto;
  background-color: #537188;
  padding: 50px 50px;
  box-shadow: 1px 4px 10px 1px #aaa;
  font-family: sans-serif;
}

.Login form * {
  box-sizing: border-box;
}

.Login h1 {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 10px;
}

.Login form input[type=text], input[type=password]{
  display: block;
  height: 32px;
  padding: 6px 16px;
  width: 100%;
  border: none;
  background-color: #f3f3f3;
  margin-top: 10px;
}

.Login  form button[type=submit] {
  width: 200px;
	height: 50px;
	text-transform: uppercase;
	font-size: 20px;
	color: white;
	letter-spacing: 3px;
	border-radius: 100px;
  background: #EEEEEE;
	border: 2px solid #72bcd4 ;
	outline: none;
	cursor: pointer;
	user-select: none;
	z-index: 99;
  margin-left: 50px;
  margin-top: 10px;
}

.Login form button[type=submit]:hover{
	background: white;
  color:#192655;
}