* {
  margin: 0;
}

.Login {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0 50%), url(./studentPage.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Login form {
  width: 241px;
  background-color: white;
  padding: 0 50px ;
  font-family: sans-serif;
  transform: translate(0, 265px);
}

.Login form * {
  box-sizing: border-box;
}

.Login h1 {
  text-align: center;
  margin:auto 0;
  margin-bottom: 30px;
  color: red;
}

.Login form input[type=text], input[type=password]{
  display: block;
  height: 40px;
  padding: 6px 16px;
  width: 100%;
  /* border: 2px solid black; */
  border:none;
  background-color: #f3f3f3;
  margin-top: 10px;
  border-radius: 100px;
  opacity:unset;
}

/* .Login  form button[type=submit] {
  width: 200px;
	height: 50px;
	text-transform: uppercase;
	font-size: 20px;
	color: white;
	letter-spacing: 3px;
	border-radius: 100px;
  background: #EEEEEE;
	border: 2px solid #72bcd4 ;
	outline: none;
	cursor: pointer;
	user-select: none;
	z-index: 99;
  margin-left: 50px;
  margin-top: 10px;
}

.Login form button[type=submit]:hover{
	background: white;
  color:#192655;
} */

.Login form button[type=submit] {
  background-color: #a0aab0;
  color: rgba(256,256,256,0.5);
  border:0;
  border-radius: 100px;
  display: block;
  margin: 15px auto 30px; 
  padding: 15px 45px;
  width: 170px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  visibility: visible;
  text-transform: uppercase;
  letter-spacing: 3px;
  /* -webkit-transition: all .3s ease; */

  &:hover {
    /* transition: all .3s ease; */
    /* background-color: rgba(20, 20, 20, 0.8); */
    background-color: black;
    color: white;
    line-break: normal;
  }
}


.noAccount{
  /* background-color: #a0aab0; */
  color: rgba(256,256,256,0.5);
  color:#a0aab0;
  border: 0;
  border-radius: 100px;
  text-align: center;
  width: 120px;
  text-decoration: none;
  margin: 10px auto 40px;
  padding: 7px 7px;
  cursor: pointer;
  visibility: visible;
  text-transform: uppercase;

  &:hover {
    /* transition: all .3s ease; */
    /* background-color: rgba(20, 20, 20, 0.8); */
    background-color: black;
    color: white;
    line-break: normal;
    margin-top: 20px;
  }
}

.clickedWrongRole{
  color: rgba(256,256,256,0.5);
  color:#a0aab0;
  border: 0;
  border-radius: 100px;
  text-align: center;
  width: 120px;
  text-decoration: none;
  margin: 10px 40px;
  padding: 7px;
  cursor: pointer;
  visibility: visible;
  text-transform: uppercase;

  &:hover {
    background-color: black;
    color: white;
    line-break: normal;
    /* margin-top: 20px; */
  }
}