
/* .Student_info_body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgba(255,255,255, 0.5) 0 100%), url(./BVC.png);
    height: auto; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.Student_info_body{
    /* background-color: #F5F7F8; */
    background-image: linear-gradient(to right, rgba(255,255,255, 0.8) 0 100%), url(./BVC.png);
    height: auto; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.student-subTitle {
    font-size: 1.5rem; 
    color: white; 
    /* margin: 2rem 3rem;  */
    padding-bottom: 10px;
    border-bottom: white 2px solid;
  }


 .main {
    margin: auto;
    padding-top: 10px;
    text-align: center;
    font-family: arial;
  }

 .studentInfo_label {
    color: #0D1282;
    text-align: center;
    margin-top: 30px;
    font-size: 2em;
  }

 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 50vw;
    /* height: 100vh; */
    margin: 10px auto;
    padding: 20px;
    font-family: arial;
    background-color:white;
  } 

  .courseContainer{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 120vh;
    margin: 10px auto;
    padding: 20px;
    font-family: arial;
    background-color:white;
  }

  .main .card .student_card_body {
    background:#F7F7F7;
    padding: 20px 0;
  }

  .main .card .student_card_body img {
    width: 50%;
  }

  .main .card .info {
    color: black;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    margin-left: 90px;

  }
  